body {
  min-width: 100vh;
  background-color: rgb(0, 150, 255);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 1300px;
  box-sizing: border-box;
}

.container {
  height: 600px;
  width: 400px;
  background-color: aqua;
}

.screen {
  height: 33%;
  background-color: blueviolet;
}

.buttons-container {
  height: 67%;
  background-color: blue;
}

.buttons-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid {
  background-color: yellowgreen;
  font-size: 25px;
  color: white;
}

 img {
  height: 25px;
  width: 30px;
  cursor: pointer;
 }

 .screen {
  padding: 30px;
  font-size: 25px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
 }

 .grid-16 {
  grid-row: 4/6;
  grid-column: 4/5;
 }
