.ameu {
  color: rgb(100, 0, 0);
  background-color: aqua;
  text-align: left;
}

#mananc {
  text-decoration: none;
  font-family: sans-serif;
  font-style: oblique;
  font-weight: 800;
  font-size: 1em;
}
