body {
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    margin: 10px;
    background-color: aqua;
}

#block2 {
    background-color: bisque;
    position: relative;
}

#block4 {
    background-color: blue;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}