body {
  background-color: none;
  letter-spacing: 1.5px;
  line-height: 25px;
  word-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px 0px 20px;
}

h3 {
  color: black;
  font-size: 20px;
  padding: 0px 0px 0px 20px;
  text-shadow: 1px 1px black;
}

p {
  color: black;
  font-size: 15px;
  padding: 10px 0px 0px 45px;
}

#ulyear {
  font-size: 15px;
  padding: 0px 0px 0px 60px;
  line-height: 25px;
}

b {
  color: rgb(0, 0, 255);
}

tr:hover {
  background-color: yellow;
}

th,
td {
  text-align: center;
}

#emailspacelinkedin {
  word-spacing: 120px;
  color: black;
}

#pozaprofil {
  width: 140px;
  height: 140px;
  padding: 0px 0px 0px 50px;
}

#prenume {
  text-shadow: 1.5px 1.5px black;
}

#nume {
  color: rgba(0, 0, 255, 0.671);
}

table {
  margin: 40px;
  font-size: 15px;
}

#tableborder,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 45px 10px 45px;
  
}

.linkcolorblue {
  color: blue;
}

div {
  margin: 0px 0px;
}

  @media screen and (max-width: 425px) {
    [class*=col-] {
    width: 100%; 
    }
    .header-1 {
      color:yellowgreen;
    }
    }

  @media screen and (min-width: 426px) {
    .header-1 {
      color: blue;
    }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
      
  @media screen and (min-width: 768px) {
    .header-1 {
      color: red;
    }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  }



