
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    height: 100vh;
}

#square {
    min-width: 50px;
    min-height: 50px;
}

.block1 {
    background-color: aqua;
    position: static;
    width: 100px;
    height: 100px;
    margin: 20px;
    
}

.block2 {
    background-color: red;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.block3 {
    background-color: rgb(8, 0, 255);
    position: sticky;
    left: 20px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.block4 {
    background-color: rgb(6, 5, 37);
    position: fixed;
    left: 500px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    margin: 20px;
}


.block5 {
    background-color: rgb(149, 255, 0);
    height: 50px;
    width: 50px;
}

.block6 {
    background-color: rgb(6, 5, 37);
    width: 100px;
    height: 100px;
    margin: 20px;
}

.block7 {
    background-color: rgb(6, 5, 37);
    width: 100px;
    height: 100px;
    margin: 20px;
}

